name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y graphviz

    - name: Make script executable
      run: chmod +x ./bin/fastq-peak.sh
   
    - name: Run fastq-peak script
      id: run_script
      run: ./bin/fastq-peak.sh ./data/sample.fastq
   
    - name: Verify output
      run: |
        EXPECTED_OUTPUT="Processing FASTQ file: ./data/sample.fastq\nNumber of reads in ./data/sample.fastq: 2\nGC content in ./data/sample.fastq: 50%"
        ACTUAL_OUTPUT=$(./bin/fastq-peak.sh ./data/sample.fastq)
        if [[ "$ACTUAL_OUTPUT" != "$EXPECTED_OUTPUT" ]]; then
          echo "Output did not match expected result."
          echo "Expected: $EXPECTED_OUTPUT"
          echo "Got: $ACTUAL_OUTPUT"
          exit 1
        fi
      shell: bash
